*{
  font-family: Tahoma;
}

.baner, .baner1{
  background-color: #519657;
  color: white;
  text-align: center;
  height: 150px;
  float: left;
}

.baner{
  width: 70%;
}

.baner1{
  width: 30%;
}

.lewy, .srodkowy, .prawy{
  background-color: #e1e1e1;
  height: 450px;
  float: left;
}

.lewy, .prawy{
  width: 25%;
}

.lewy{
  clear: both;
}

.srodkowy{
  width: 50%;
  overflow: auto;
}

.stopka{
  background-color: #80c683;
  text-align: center;
}

.prawy img{
  width: 100%;
  margin: 100px 0;
}

table{
  border: 1px solid #80c683;
}

td{
  padding: 2px;
}

tr:hover{
  background-color: #80c683;
}

table tr:last-child {
  background-color: red;
}